{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='select_target.css') }}">
{% endblock %}
{% block content %}
<h2>Select the target variable from the dataset columns</h2>
<!-- this form needs to be sent(POST) to preprocessing -->
<form action = "/preprocess" method = "post">
    <!-- storing filename in a hidden input variable to be passed to /preprocess -->
    <input type = "hidden" name="filename" value ="{{ filename }}">
    <!-- creating a dropdown -->
    <select name = "target_column">
        {% for col in columns %}
            <option value="{{ col }}"> {{ col }}</option>
        {% endfor %}
    </select>
    <button type = "submit">Confirm Target</button>
</form>
{% endblock %}
    